<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-primary" (click)="testFunc()">
        Only show odd numbers
      </button>
      <br /><br />
      <ul class="list-group">
        <div *appUnless="!onlyOdd">
          <li
            class="list-group-item"
            [ngClass]="{ odd_class: odd % 2 !== 0 }"
            *ngFor="let odd of oddNumbers">
            {{ odd }}
          </li>
        </div>
        <div *ngIf="!onlyOdd">
          <li
            class="list-group-item"
            [ngClass]="{ even_class: even % 2 == 0 }"
            *ngFor="let even of evenNumbers">
            {{ even }}
          </li>
        </div>
      </ul>

      <div *ngIf="onlyOdd; else even">
        <p appBasicHiglight>Only odd</p>
      </div>
      <ng-template #even>
        <p [appBetterHiglight]="'aquamarine'" [highlightColor]="'blueviolet'">
          Only even
        </p>
      </ng-template>
    </div>
  </div>
</div>
